.cache
.DS_Store
.idea
*.log
*.tgz
coverage
dist
lib-cov
logs
playwright-report
test-results
node_modules
temp
cache
.eslintcache
.nuxt
.output
docs/.vitepress/components.d.ts
.edgeone/*
!.edgeone/project.json
